$navBackgroundColor: #ffffff;
$aColor: #000000;
$aClickColor: #30cea3;

.mainBox {
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
  }
}

.nav {
  background: $navBackgroundColor;
  width: 20vw;
  height: 100vh;
  text-align: center;
  padding: 5rem 0 0 0;

  .navBar {
    font-size: 1rem;
    padding: 2rem 0 0;

    span {
      font-size: 1rem;
      margin: 0 0.5rem;
    }
  }

  .navBarItem {
    color: $aColor;
  }

  .navBarItemClick {
    color: $aClickColor;
  }
}

.content {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
