$contentNavActive: #000000;
$contentBackgroundColor: #f2f3f4;

.content {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $contentBackgroundColor;

  .contentTab {
    margin: 2.5rem 5rem;
    display: flex;
    flex: row;

    .contentTabBar,
    .contentTabBarShow {
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
      color: gray;
      font-size: 1.2rem;
    }

    .contentTabBarShow {
      color: #000000;
      border-bottom: 0.2rem solid $contentNavActive;
    }
  }
}
