.sendMsgBox {
  padding: 0 6rem;

  .selectInputBox {
    display: flex;
    align-items: center;
    margin: 0 -2rem;
  }

  .textarea {
    .multilineTextField {
      margin-top: 1rem;
      width: 100%;
    }
  }

  .groupLabel {
    margin: 0.5rem;
    padding-top: 0.5rem;
    border-top: 0.1rem solid #eee;
  }

  .noneGroupLabel {
    height: 0;
    margin: 0;
    padding: 0;
  }
}
