.user {
  .accordion {
    background-color: #f2f3f4;
    box-shadow: none;

    .accordionSummary {
      margin: 0 1.5rem 0.8rem;
      background-color: #ffffff;
    }

    .accordionDetails {
      margin: 0 2rem 0.8rem;
      width: calc(100% - 6rem);
      background-color: #ffffff;
    }
  }
}
