.InputButton {
  :global(input[type="button" i]) {
    text-align: left;
    cursor: pointer;
  }
}

.directTeamMembers {
  text-align: end;
}

.radioLabel {
  user-select: none;
  cursor: pointer;
}
