.wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 18rem;

  :global(input[type="button" i]) {
    text-align: left;
    cursor: pointer;
  }

  .inputGroup {
    margin-top: 2rem;
    display: flex;
    align-items: center;

    .corpInput {
      flex: 1;
    }

    & > span {
      line-height: 1.5;
      width: 5rem;
      font-size: 1.2rem;
    }
  }
}

.editorBox {
  margin-top: 2rem;
  width: 100%;
}

.dateSelector {
  display: flex;
}
