.separate {
  padding: 0 0.35rem;
}

.image {
  width: 10rem;
  height: 6rem;
  object-fit: cover;
  padding: 0.25rem;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;

  .selectWrap {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;

    .inputWrap {
      flex: 1;
      min-width: 12rem;
      margin-right: 1rem;

      .corpInput {
        margin-bottom: 1rem;
        :global(input[type="button" i]) {
          text-align: left;
          cursor: pointer;
        }
      }
    }

    .groupLabel {
      margin: 0.5rem;
      padding-top: 0.5rem;
      border-top: 0.1rem solid #eee;
    }

    .noneGroupLabel {
      height: 0;
      margin: 0;
      padding: 0;
    }
  }

  .typeShow {
    display: flex;
    flex-direction: column;

    .rowBox {
      flex: 1;
      display: flex;
      flex-direction: row;

      .titleAndContentinputBox {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;

        .input {
          flex: 1;
          padding: 0.5rem 0;
        }
      }

      .uploadBtnBox {
        padding: 0.5rem 0 0 0;
        display: flex;
        flex: 1;
        flex-direction: column;

        .information {
          display: flex;
          flex-direction: row;

          .box {
            flex: 1;
            margin: 0.25rem 0;

            .picturebackground {
              flex: 1;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              border-radius: 0.5rem;
              border: 0.1rem solid rgb(207, 200, 200);
              padding: 0.25rem;
            }
          }
        }
      }
    }
  }
}
