.meetingBtn {
  display: flex;
  color: #368aef;
  word-break: keep-all;
  cursor: pointer;
}

.container {
  height: 100%;
}

.appointmentMeeting {
  background-color: #f2f3f4;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 2rem;
}

.appointmentPerson {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.appointmentPersonData {
  background-color: #e8e8e8;
  & :focus {
    background-color: white;
  }
}

.fromDataItem {
  width: 100%;
}

.participantData {
  display: flex;
  width: 45%;
  align-items: center;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  min-width: 12rem;
  padding: 0.5rem 0.6rem;
  border: 0.1rem solid #d8d9d9;
  border-radius: 0.3rem;
  background-color: #e8e8e8;
}

.showParticipantData {
  display: flex;
  align-items: center;
  width: 45%;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  min-width: 12rem;
  padding: 0.5rem 0.6rem;
  border: 0.1rem solid #d8d9d9;
  border-radius: 0.3rem;
}
.participantName {
  margin-left: 1rem;
}

.addParticipant {
  padding: 0.5rem 0.6rem;
  min-width: 12rem;
  width: 45%;
  border-radius: 0.3rem;
  border: 0.1rem solid #d8d9d9;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
  color: #368aef;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.addParticipantIcon {
  padding: 0.1rem;
  background-color: #2196f338;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
}

.annexBtn {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  border: 0.1rem solid #d8d9d9;
}

.annexBtnText {
  padding: 0.4rem 4rem;
  border-right: 0.1rem solid #d8d9d9;
}

.annexBtnIcon {
  color: rgba(0, 0, 0, 0.54);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.editableTextarea {
  display: flex;
  flex-direction: column;
}

.toolbar {
  border-bottom: 0.1rem solid #d8d9d9;
}

.editorText {
  height: 6rem;
}

.setUpBtn {
  border: 0.1rem solid #d8d9d9 !important;
  background-color: transparent !important;
  border-radius: 0.3rem;
  padding: 0.4rem 4rem;
  color: #000 !important;
  cursor: pointer;
  width: fit-content;
}

.delFileIcon {
  font-size: 1rem;
  color: rgb(234, 91, 91);
  margin-left: 1.5rem;
}

.fileName {
  width: 6rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  width: 6rem;
  min-width: 6rem;
  text-align: center;
  margin-right: 0.5rem;
}

.fromItem {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.participantDataBox {
  display: flex;
  flex-wrap: wrap;
}

.enterpriseApplications {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.inputWrap {
  flex: 1 1;
  min-width: 12rem;
}
.widthFull {
  width: 100%;
  min-width: 12rem;
}
